header{
    background-color: peru;
    box-shadow: 0 0 8px gray;
    padding: 10px;
    text-align: center;
}

main{
    background-color: #ffd486;
    width: 100%;
    margin: auto;
    text-align: center;
}

nav a{
    display: inline-block;
    background-color: #ffde6d;
    border-radius: 5px;
    margin: 6px;
    padding: 10px;
    text-decoration: none;
}

nav a:hover{
    background-color:  #ff6d52;
    cursor: pointer;
}

.home img{
    height: 40%;
    width: 40%;
}

.container-biography{
    display: flex;
    margin-top: 30px;
    text-align: left;
    padding: 10px;
}

.container-biography p{
   margin-left: 20px;
}

