header{
    background-color: peru;
    box-shadow: 0 0 8px gray;
    padding: 10px;
    text-align: center;
    height: 120px;
}

main{
    background-color: #ffd486;
    width: 100%;
    height: 813px;
    margin: auto;
    text-align: center;
}

nav a{
    display: inline-block;
    background-color: #ffde6d;
    border-radius: 5px;
    margin: 6px;
    padding: 10px;
    text-decoration: none;
}

nav a:hover{
    background-color:  #ff6d52;
    cursor: pointer;
}

.home img{
    height: 40%;
    width: 40%;
}

.container-biography{
    display: flex;
    margin-top: 30px;
    text-align: left;
    padding: 10px;
}

.container-biography p{
   margin-left: 20px;
}

.list-container{
    display: flex;
    justify-content: center;
}

.list-container ul{
    list-style-type: none;
    flex-direction: column;
}

.list-container li{
    background-color: peru;
    border: solid black 1px;
    border-radius: 10px;
    margin: 50px;
    padding-top: 25px;
    height: 50px;
    width: 250px;
}

.list-container li:hover{
    background-color: #ffde6d;
}

.list-container a {
    text-decoration: none;
    display: inline-block;
}
